    * {
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #eee;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Website Header */
.header {
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	color: #999;
	margin: 50px;
}

/* Watch Container */
.watch-container {
	width: 300px;
	margin: 50px auto;
}

/* Watch */
.watch {
	position: relative;
	width: 300px;
	height: 300px;
}

/* Watch Face */
.watch-face {
	width: 300px;
	height: 300px;
    border-radius: 100%;
    background: #eee;
	/* background: #3F484A; Dial colour */
	border: 10px solid #8e8e8e; /* Face border */
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5), 1px 1px 2px rgba(0, 0, 0, 0.3);
}
	
	/* Watch Face Outline */


	.watch-face-outline-point {
		position: absolute;
		width: 10px;
		height: 10px;
		background: #777;
		left: 145px;
		top: 24px;
		border-radius: 100%;
		-webkit-transform-origin: 50% 126px;
		transform-origin: 50% 126px;
	}

	.point-12 { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	.point-1 { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
	.point-2 { -webkit-transform: rotate(60deg); transform: rotate(60deg); }
	.point-3 { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
	.point-4 { -webkit-transform: rotate(120deg); transform: rotate(120deg); }
	.point-5 { -webkit-transform: rotate(150deg); transform: rotate(150deg); }
	.point-6 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	.point-7 { -webkit-transform: rotate(210deg); transform: rotate(210deg); }
	.point-8 { -webkit-transform: rotate(240deg); transform: rotate(240deg); }
	.point-9 { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
	.point-10 { -webkit-transform: rotate(300deg); transform: rotate(300deg); }
	.point-11 { -webkit-transform: rotate(330deg); transform: rotate(330deg); }

	/* Watch Face Date */
	.watch-face-date {
    position: absolute;
		background-color: rgba(0,0,0,0.1);
    width: 27px;
    height: 27px;
    border-radius: 100%;
    text-align: center;
		top: 138px;
		right: 50px;
		font-size: 15px;
    line-height: 27px;
		color: #aaa;
		font-weight: 300;
	}

	/* Watch Face Center */
	.watch-face-centre {
		position: absolute;
		width: 12px;
		height: 12px;
		top: 144px;
		left: 144px;
		border-radius: 100%;
		background: #fff;
	}

	.watch-face-centre-inner {
		position: absolute;
		z-index: 1;
		width: 8px;
		height: 8px;
		top: 2px;
		left: 2px;
		border-radius: 100%;
		background: #333;
		border: 2px solid #fa9f22;
	}

	/* Watch Face Hands */

	.watch-face-hand {
		position: absolute;
	}

	.watch-face-hand.hour {
		width: 4px;
		height: 60px;
		top: 90px;
		left: 148px;
		border-radius: 10px;
		background: rgb(0, 0, 10);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: rotate(306deg);
		transform: rotate(306deg);
	}

	.watch-face-hand.minute {
		width: 4px;
		height: 120px;
		top: 30px;
		left: 148px;
		border-radius: 10px;
		background: rgb(0, 0, 10);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		-webkit-transform: rotate(50deg);
		transform: rotate(50deg);
	}
	
	.watch-face-hand.second {
		width: 2px;
		height: 145px;
		top: 20px;
		left: 149px;
		border-radius: 10px;
		background: #fa9f22;
		-webkit-transform-origin: 50% 130px;
		transform-origin: 50% 130px;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

/* Watch Crown */
.watch-crown {
	position: relative;
	z-index: -1;
	width: 15px;
	height: 26px;
	top: -163px;
	left: 295px;
	border-radius: 5px;
	background: #868686;
	border-right: 2px solid rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Watch Straps */
.watch-strap-top {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: -20px;
	background: #868686;
	border-radius: 10px 10px 0 0;
}

.watch-strap-bottom {
	position: relative;
	z-index: -1;
	width: 120px;
	height: 150px;
	left: 90px;
	bottom: 20px;
    background-color: #868686;
	border-radius: 0 0 10px 10px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 120px;
    text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
}

/* Website Footer */
.footer {
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #999;
	margin: 50px;
}

.footer a {
	color: #999;
	font-weight: 500;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: none;
}


/* Sticky notes */
h2,p{
	font-size:100%;
	font-weight:normal;
	color: black;
}
ul,li{
	list-style:none;
}
ul{
	overflow:hidden;
	padding:3em;
}
ul li a{
	text-decoration:none;
	color:#000;
	/* background:#6bbcf2; */
	background:#f6ff7a;
	display:block;
	height:15em;
	width:15em;
	padding:1em;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/* -moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear; */

	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
}
ul li{
	margin:1em;
	float:left;
}
ul li h2{
	font-size:140%;
	font-weight:bold;
	padding-bottom:10px;
}
ul li p{
	font-family:"Reenie Beanie",arial,sans-serif;
	font-size:180%;
}
ul li:nth-child(even) a{
	-o-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	position:relative;
	background:#f6ff7a;
	
	top:5px;
}
ul li:nth-child(3n) a{
	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	position:relative;
	top:-5px;
	background:#f6ff7a;
	/* background:#f26b6b; */
}
ul li:nth-child(5n) a{
	-o-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	position:relative;
	top:-10px;
	background:#f6ff7a;
}
ul li a:hover,ul li a:focus{
	-moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
	-webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position:relative;
	z-index:5;
	text-decoration:none
}


/* card */

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
  width:100%;
}

/* header */
/* cyrillic-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.custom_header{
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: rgb(48, 63, 54);
}
